html {
  @apply bg-theme-1;
  &.dark {
    @apply bg-dark-2;
    body {
      @apply text-gray-300;
      *,
      ::before,
      ::after {
        @apply border-dark-3;
      }
    }
  }
  body {
    -webkit-font-smoothing: antialiased;
    @apply overflow-x-hidden;
    @apply py-3;
    @apply px-4;
    @apply font-roboto;
    @apply text-sm;
    @apply text-gray-800;
    @include media-breakpoint-down(sm) {
      @apply px-3;
    }
  }
}
